<ng-container *ngIf="loading$ | async">
    <mat-progress-bar cdkOverlayOrigin 
    #originOverlay="cdkOverlayOrigin" mode="indeterminate" color="warn"></mat-progress-bar>
    <ng-template cdkConnectedOverlay 
    cdkConnectedOverlayHasBackdrop
    [cdkConnectedOverlayOrigin]="originOverlay" 
    [cdkConnectedOverlayOpen]="true"
    [cdkConnectedOverlayOffsetY]="0">
    </ng-template>
</ng-container>
<header> 
    <developers-header></developers-header>
</header>

<main >
    
   
    <div class="content">
        <!-- <div style="margin-top: -12px;" *ngIf="isProgressing$ | async">
            <mat-progress-bar mode="indeterminate" color="warn"></mat-progress-bar>
        </div> -->
        
        <router-outlet></router-outlet>
    </div>
    
</main>

<footer >
    <developers-footer></developers-footer>
</footer>