//1
$white-pallete: (
    50 : #ffffff,
    100 : #ffffff,
    200 : #ffffff,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
//2
$blue-pallete: (
    50 : #eef6fe,
    100 : #d4e9fd,
    200 : #b8dafc,
    300 : #9bcbfb,
    400 : #85c0fa,
    500 : #70b5f9,
    600 : #68aef8,
    700 : #5da5f7,
    800 : #539df6,
    900 : #418df5,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #dfecff,
    A700 : #c5ddff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
//3
$cool-gray-pallete: (
    50 : #f3f6f8,
    100 : #e2e8ef,
    200 : #ced9e4,
    300 : #bacad9,
    400 : #acbed0,
    500 : #9db3c8,
    600 : #95acc2,
    700 : #8ba3bb,
    800 : #819ab4,
    900 : #6f8ba7,
    A100 : #ffffff,
    A200 : #f0f7ff,
    A400 : #bdddff,
    A700 : #a3d0ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
//4
$black-pallete: (
    50 : #e0e0e0,
    100 : #b3b3b3,
    200 : #808080,
    300 : #4d4d4d,
    400 : #262626,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #a6a6a6,
    A200 : #8c8c8c,
    A400 : #737373,
    A700 : #666666,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);
//5
$warm-gray-pallete: (
    50 : #f7f5f3,
    100 : #eae7e2,
    200 : #dcd7cf,
    300 : #cec7bc,
    400 : #c4bbad,
    500 : #b9af9f,
    600 : #b2a897,
    700 : #aa9f8d,
    800 : #a29683,
    900 : #938672,
    A100 : #ffffff,
    A200 : #fef2e0,
    A400 : #ffdead,
    A700 : #ffd493,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

//6
$teal-pallete: (
    50 : #e9f7fa,
    100 : #c7ecf2,
    200 : #a2dfe9,
    300 : #7cd2e0,
    400 : #60c9da,
    500 : #44bfd3,
    600 : #3eb9ce,
    700 : #35b1c8,
    800 : #2da9c2,
    900 : #1f9bb7,
    A100 : #f0fcff,
    A200 : #bdf2ff,
    A400 : #8ae8ff,
    A700 : #70e3ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

//7

$purple-pallete: (
    50 : #f8f3fe,
    100 : #eee2fd,
    200 : #e3cffb,
    300 : #d8bbf9,
    400 : #cfadf8,
    500 : #c79ef7,
    600 : #c196f6,
    700 : #ba8cf5,
    800 : #b382f3,
    900 : #a670f1,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #f3ebff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

//8
$system-green-pallete: (
    50 : #e8f8f0,
    100 : #c5eedb,
    200 : #9fe3c3,
    300 : #78d8aa,
    400 : #5bcf98,
    500 : #3ec786,
    600 : #38c17e,
    700 : #30ba73,
    800 : #28b369,
    900 : #1ba656,
    A100 : #ddffea,
    A200 : #aaffcb,
    A400 : #77ffac,
    A700 : #5dff9d,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

//9
$pink-pallete: (
    50 : #fef1fd,
    100 : #fcdcfa,
    200 : #fac4f7,
    300 : #f7acf3,
    400 : #f69bf1,
    500 : #f489ee,
    600 : #f381ec,
    700 : #f176e9,
    800 : #ef6ce7,
    900 : #ec59e2,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffebfe,
    A700 : #ffd1fc,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

//10
$amber-pallete: (
    50 : #fcf4e8,
    100 : #f8e3c5,
    200 : #f3d19f,
    300 : #eebf78,
    400 : #ebb15b,
    500 : #e7a33e,
    600 : #e49b38,
    700 : #e09130,
    800 : #dd8828,
    900 : #d7771b,
    A100 : #ffffff,
    A200 : #ffead8,
    A400 : #ffcea5,
    A700 : #ffc08b,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

//11
$warm-red-pallete: (
    50 : #fef3f0,
    100 : #fce0d8,
    200 : #faccbf,
    300 : #f8b7a5,
    400 : #f7a791,
    500 : #f5987e,
    600 : #f49076,
    700 : #f2856b,
    800 : #f07b61,
    900 : #ee6a4e,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffe7e3,
    A700 : #ffd2c9,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

//12
$system-red-pallete: (
    50 : #fff2f2,
    100 : #fededf,
    200 : #fec9ca,
    300 : #fdb3b5,
    400 : #fca2a5,
    500 : #fc9295,
    600 : #fc8a8d,
    700 : #fb7f82,
    800 : #fb7578,
    900 : #fa6367,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffe7e8,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


//13
$copper-pallete: (
    50 : #fbf4f2,
    100 : #f6e3de,
    200 : #f0d0c8,
    300 : #e9bdb2,
    400 : #e5afa2,
    500 : #e0a191,
    600 : #dc9989,
    700 : #d88f7e,
    800 : #d38574,
    900 : #cb7462,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffdad3,
    A700 : #ffc5b9,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

//14
$green-pallete: (
    50 : #f0f8ec,
    100 : #d9eccf,
    200 : #bfe0af,
    300 : #a5d48e,
    400 : #92ca76,
    500 : #7fc15e,
    600 : #77bb56,
    700 : #6cb34c,
    800 : #62ab42,
    900 : #4f9e31,
    A100 : #ecffe5,
    A200 : #c6ffb3,
    A400 : #a1ff80,
    A700 : #8eff66,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
//15
$sage-pallete: (
    50 : #f3f6f2,
    100 : #e2eadd,
    200 : #cedcc7,
    300 : #bacdb1,
    400 : #acc3a0,
    500 : #9db88f,
    600 : #95b187,
    700 : #8ba87c,
    800 : #81a072,
    900 : #6f9160,
    A100 : #ffffff,
    A200 : #ddffce,
    A400 : #baff9b,
    A700 : #a8ff81,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

//16
$lime-pallete: (
    50 : #f4f7e6,
    100 : #e4eac2,
    200 : #d3dd99,
    300 : #c1cf70,
    400 : #b3c451,
    500 : #a6ba32,
    600 : #9eb32d,
    700 : #95ab26,
    800 : #8ba31f,
    900 : #7b9413,
    A100 : #f3ffc7,
    A200 : #e8ff94,
    A400 : #ddff61,
    A700 : #d8ff47,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


//17
$camo-pallete: (
    50 : #f5f6f1,
    100 : #e7e9dc,
    200 : #d7dac5,
    300 : #c6cbad,
    400 : #babf9c,
    500 : #aeb48a,
    600 : #a7ad82,
    700 : #9da477,
    800 : #949c6d,
    900 : #848c5a,
    A100 : #fefff7,
    A200 : #f5ffc4,
    A400 : #ecff91,
    A700 : #e8ff78,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

//18
$smoke-pallete: (
    50 : #f4f6f6,
    100 : #e3e9e9,
    200 : #d0dadb,
    300 : #bdcbcd,
    400 : #aebfc2,
    500 : #a0b4b7,
    600 : #98adb0,
    700 : #8ea4a7,
    800 : #849c9f,
    900 : #738c90,
    A100 : #ffffff,
    A200 : #dffafe,
    A400 : #abf4ff,
    A700 : #91f1ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


//19
$lavender-pallete: (
    50 : #f7f5f9,
    100 : #ebe5f1,
    200 : #ddd4e8,
    300 : #cfc3df,
    400 : #c5b6d8,
    500 : #bba9d1,
    600 : #b5a2cc,
    700 : #ac98c6,
    800 : #a48fc0,
    900 : #967eb5,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #e8d7ff,
    A700 : #d9beff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

//20
$mauve-pallete: (
    50 : #f9f4f9,
    100 : #f0e3f0,
    200 : #e7d1e6,
    300 : #ddbedb,
    400 : #d5b0d4,
    500 : #cea2cc,
    600 : #c99ac7,
    700 : #c290c0,
    800 : #bc86b9,
    900 : #b075ad,
    A100 : #ffffff,
    A200 : #fffdff,
    A400 : #ffcafd,
    A700 : #ffb1fb,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


//21
$system-gray-pallete: (
    50 : #f6f6f6,
    100 : #e7e7e7,
    200 : #d8d8d8,
    300 : #c8c8c8,
    400 : #bcbcbc,
    500 : #b0b0b0,
    600 : #a9a9a9,
    700 : #a0a0a0,
    800 : #979797,
    900 : #878787,
    A100 : #ffffff,
    A200 : #fdeaea,
    A400 : #ffb4b4,
    A700 : #ff9b9b,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

//22
$system-orange-pallete: (
    50 : #fff2ed,
    100 : #ffdfd1,
    200 : #ffcab3,
    300 : #ffb494,
    400 : #ffa47d,
    500 : #ff9466,
    600 : #ff8c5e,
    700 : #ff8153,
    800 : #ff7749,
    900 : #ff6538,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffe7e1,
    A700 : #ffd3c8,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);