<div class="footer-body">
    <div fxLayout="row wrap" class="container" fxLayoutGap="20px">
        <div fxFlex fxLayout="row" fxLayoutAlign="center">
            <p>About</p>
        </div>
        <div fxFlex fxLayout="row" fxLayoutAlign="center">
            <p>Accessibility</p>
        </div>
        <div fxFlex fxLayout="row" fxLayoutAlign="center">
            <p>Help center</p>
        </div >
        <div fxFlex fxLayout="row" fxLayoutAlign="center">
            <p>Privacy & Terms</p>
        </div>
        <div fxFlex fxLayout="row" fxLayoutAlign="center">
            <p>Ad Choices</p>
        </div>
        <div fxFlex fxLayout="row" fxLayoutAlign="center">
            <p>Advertising</p>
        </div>
        <div fxFlex fxLayout="row" fxLayoutAlign="center">
            <p>Business Services</p>
        </div>
        <div fxFlex fxLayout="row" fxLayoutAlign="center">
            <p>More</p>
          </div>
      </div>
</div>