    <!-- <mat-toolbar id="app-header-mat-toolbar" color = "primary" fxLayout="row" fxLayoutAlign="start center"  >
    <div fxFlex="90" fxLayout="row" fxLayoutAlign="start">
        <h4 >Devops</h4>
    </div>
    <div fxFlex="10" fxLayout="row" fxLayoutAlign="end">
        <div fxLayout="row" fxLayoutAlign="center"> -->
            <!-- <a>
                <div class="profile_pic">
                    {{'Kamal Mohan Singh Rana'|initialCase}}
                </div>
            </a> -->
            <!-- <developers-sign-in ></developers-sign-in> -->
            <!-- <button  routerLink="/login">Login</button> -->
            <!-- <developers-sign-out></developers-sign-out> -->
        <!-- </div>
    </div>
 </mat-toolbar> -->

 <div class="global-nav"  >
   <div class="global-nav-content" >  
    <div fxLayout="row" fxLayoutAlign="space-between start" class="padding">
        <div fxFlex>
            <a routerLink="/" fxFlex>
                <img src="../../assets/leaf.png" height="25px" width="25px">
            </a>
        </div>
        <div fxFlex fxLayout="row" fxLayoutAlign="end start">
            <button mat-stroked-button (click)="onClick()">{{($isLoggedIn | async)  ? 'Logout': 'Login'}}</button>
        </div>
    </div>  
   </div>
 </div>